<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2">
	<servlet>
		<servlet-name>Griha</servlet-name>
		<servlet-class>griha.co.in.GrihaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Griha</servlet-name>
		<url-pattern>/griha</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>Index.html</welcome-file>
	</welcome-file-list>
	    <filter>
        <filter-name>generic</filter-name>
        <filter-class>griha.co.in.genericFilter</filter-class>
        <init-param>
            <param-name>prerenderServiceUrl</param-name>
            <param-value>http://localhost:3000</param-value>
        </init-param>
        <init-param>
            <param-name>crawlerUserAgents</param-name>
            <param-value>YahooSeeker</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>generic</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
