
			<div class="slider-wrapper theme-dark">
                <div class="ribbon"></div><div id="nivoslider-30" class="nivoSlider" nivoslider>
                    <img src="http://demo.dev7studios.com/nivo-slider/files/2013/02/3928848343_42443ae67d_o.jpg" alt="" />
                    <img src="http://demo.dev7studios.com/nivo-slider/files/2013/02/4207529693_d4f03f6dd7_o.jpg" alt="" />
                    <img src="http://demo.dev7studios.com/nivo-slider/files/2013/02/5896103449_fa2c7a168d_b.jpg" alt="" />
                    <img src="http://demo.dev7studios.com/nivo-slider/files/2013/02/03037_liverpool_1920x1080.jpg" alt="" />
                </div>
			</div>