<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>
Sample Listing 1 | Real Estate</title>
</head>

<body class="single single-ts-listings postid-694">
	<!-- begin: insideContentWrapper -->
	<div id="insideContentWrapper" ng-controller="projectDetailCtrl">
		
		

<!-- Begin: leftSidebar -->
<div id="leftSidebar">

    <!--Begin: google maps-->
        <div class="gmap" id="gmap" style="width:250px;height:300px;margin-top:47px" googlemap></div>
    <!--End: google maps-->
    

    <div id="respond1" class="comment-respond" style="width:100%" ng-show="displayContactForm">
				<h3 id="H3" class="comment-reply-title">Contact Griha<small><a rel="nofollow" id="A1" href="/realestate/?ts-listings=sample-listing-1#respond" style="display:none;">Cancel reply</a></small></h3>			
<form name="frmContactUs" id="frmContactUs">
		<ul>							
			<div class="form-group" ng-class="{'has-error': frmContactUs.ContactName.$invalid}">
			<li class="comment-form-author"><label for="author">Name</label><input id="Text1"  type="text" name="ContactName" ng-model="contactUs.name" size="22" class="form-control" required/></li>
			</div>

			<div class="form-group" ng-class="{'has-error': frmContactUs.ContactEmail.$invalid}">
			<li class="comment-form-email"><label for="email">Email</label><input id="Text2" type="text" name="ContactEmail" ng-model="contactUs.email" size="22" class="form-control" required /></li>
			</div>
			<div class="form-group" ng-class="{'has-error': frmContactUs.ContactPhone.$invalid}">
			<li class="comment-form-url"><label for="url">Phone</label><input id="Text3" type="text" name="ContactPhone" ng-model="contactUs.phone" size="22" class="form-control" required /></li>
			</div>

			<li class="text-area-wrapper"><textarea id="Textarea1" name="comment" cols="200" rows="10" style="width:100%" ng-model="contactUs.message"></textarea></li>						
		</ul>						
		<p class="form-submit">
<!-- 			<input name="button" type="button" class="btn btn-primary" value="Send" ng-click="sendMail()"/> -->
			<button id="ButSub" class="btn btn-primary" ng-click="sendMail()">Send</button>
			<input type='hidden' name='comment_post_ID' ng-model="contactUs.propertyName" id='Hidden1' />
		</p>
</form>

</div><!-- #respond -->
<div ng-show="displaySendMailConf">
<br />
	<p>Thank you for contacting griha, we have send you a copy of the broucher for your reference. Our marketing team will talk to
	 you soon. <a href="" ng-click="displayContactForm = true; displaySendMailConf = false">Click here</a> to send any additional message.</p>
</div>
</div>
<!-- End: leftSidebar -->
		
		<!-- begin: insideRightContent -->
		<div id="insideRightContent">
		
						
				<div id="post-694" class="post-694 ts-listings type-ts-listings status-publish hentry entryWrapper">
			
					<ul class="simple-breadcrumbs clearfix breadcrumb"><li class="br-youare breadcrumbFirst"><span>You are here : </span></li><li class="br-home"><a href="http://demo.themespike.com/realestate">Home</a> </li><li><a href="http://demo.themespike.com/realestate/?post_type=ts-listings">Listings</a></li><li class="br-current">Sample Listing 1</li><li class="breadcrumbLast"></li></ul>				
					
                    <br />
                    <div class="demo-slider-3" style="margin-bottom:3em;">
                    <div id="amazingslider-19" style="display:block;position:relative;margin:-12px auto 30px auto;float:left" amazingslider>
                        <ul class="amazingslider-slides" style="display:none;">
                            <li><a href="http://amazingslider.com/wp-content/uploads/2012/12/dandelion.jpg" class="html5lightbox"><img src="http://amazingslider.com/wp-content/uploads/amazingslider/19/images/dandelion-600-300.jpg" alt="Dandelion" data-description="Blessings on thy sunny face, in my heart thou hast a place" /></a>            </li>
                            <li><a href="http://www.youtube.com/embed/TLkA0RELQ1g" class="html5lightbox" data-width="640" data-height="360"><img src="http://amazingslider.com/wp-content/uploads/amazingslider/19/images/elephants-dream-600-300.jpg" alt="Elephants Dream" /></a>            </li>
                            <li><a href="http://www.youtube.com/embed/YE7VzlLtp-4" class="html5lightbox" data-width="640" data-height="360"><img src="http://amazingslider.com/wp-content/uploads/amazingslider/19/images/big-buck-bunny-600-300.jpg" alt="Big Buck Bunny" /></a>            </li>
                            <li><a href="http://amazingslider.com/wp-content/uploads/2012/12/sakuratrees.jpg" class="html5lightbox"><img src="http://amazingslider.com/wp-content/uploads/amazingslider/19/images/sakura-trees-600-300.jpg" alt="Sakura Trees" data-description="A Sweet Aroma Around the Trees" /></a>            </li>
                            <li><a href="http://amazingslider.com/wp-content/uploads/2012/12/bamboo.jpg" class="html5lightbox"><img src="http://amazingslider.com/wp-content/uploads/amazingslider/19/images/bamboo-600-300.jpg" alt="Bamboo" data-description="My Love is Like Bamboo, Growing Each Day" /></a>            </li>
                        </ul>
                        <ul class="amazingslider-thumbnails" style="display:none;">
                            <li><img src="http://amazingslider.com/wp-content/uploads/amazingslider/19/images/thumbnails/dandelion-600-300.jpg" /></li>
                            <li><img src="http://amazingslider.com/wp-content/uploads/amazingslider/19/images/thumbnails/elephants-dream-600-300.jpg" /></li>
                            <li><img src="http://amazingslider.com/wp-content/uploads/amazingslider/19/images/thumbnails/big-buck-bunny-600-300.jpg" /></li>
                            <li><img src="http://amazingslider.com/wp-content/uploads/amazingslider/19/images/thumbnails/sakura-trees-600-300.jpg" /></li>
                            <li><img src="http://amazingslider.com/wp-content/uploads/amazingslider/19/images/thumbnails/bamboo-600-300.jpg" /></li>
                        </ul>
                        <div class="amazingslider-engine" style="display:none;"><a href="http://amazingslider.com">jQuery Image Slider</a></div>
                        <div class="amazingslider-engine" style="display:none;"><a href="http://amazingslider.com">WordPress Slideshow</a></div>
                    </div>
                    <!--<script src="http://amazingslider.com/wp-content/uploads/amazingslider/19/sliderengine/initslider.js"></script>-->
                </div>
				</div>			
<div style="margin-top: 300px">
	<tabset>
		<tab heading="Project Description">
      		<div ng-include="'Partials/ProjectDescriptionTab.html'"></div>
      		<h3 id="h2" class="postSubTitle">Neighbourhood</h3>
		 <!--Begin: google maps-->
        <div class="gmap" id="Div1" style="width:650px;height:400px" googlemap></div>
        <!--End: google maps-->
    	</tab>
    	<tab heading="Specification">
      		<div ng-include="'Partials/Specification.html'"></div>
    	</tab>
    	<tab heading="Work in Progress">
    		<div ng-include="'Partials/workinprogress.html'" thumbnailview></div>
    	</tab>
	</tabset>			
</div>
 <!-- end : Tabs-->  				
				
		</div>
		<!-- end: insideRightContent -->
		
		
		<div class="clear"></div>
		
	</div>
	<!-- end: insideContentWrapper -->

<!-- end: Tabs -->
		<div class="clear"></div>	
</body>

</html>
