
<div>
	<h1 id="H1" class="postTitle"></h1>
	<br /> <br />
	<h1 id="page-title" class="postTitle">Luxury Villa at Kuttamassery, Aluva</h1>


	<p class="postInfo">
		<span class="postInfoAuthor">admin</span> <span class="postInfoDate">Tuesday,
			January 10th, 2012</span> <span class="postInfoComment"><a
			href="http://demo.themespike.com/realestate/?ts-listings=sample-listing-1#respond"
			title="Comment on Sample Listing 1">No Comments</a></span>
	</p>

	<p class="unitAndPrice">
		<span class="unitInfo">3 Bed, 4 Bath, 2,582 Sq Ft on 1 Acres</span> <span
			class="unitPrice"><strong>Price :</strong> INR 1 cr</span>
	</p>

	<div class="entry entry-content content-styles">

		<h3 id="h4" class="postSubTitle comment-reply-title">Details</h3>
		<ul>
			<li>Bedrooms</li>
		</ul>
		<h3 id="h5" class="postSubTitle comment-reply-title">Description</h3>
		<p>Lorem Ipsum is simply dummy text of the printing and
			typesetting industry. Lorem Ipsum has been the industry&#8217;s
			standard dummy text ever since the 1500s, when an unknown printer
			took a galley of type and scrambled it to make a type specimen book.
			It has survived not only five centuries, but also the leap into
			electronic typesetting, remaining essentially unchanged. It was
			popularised in the 1960s with the release of Letraset sheets
			containing Lorem Ipsum passages, and more recently with desktop
			publishing software like Aldus PageMaker including versions of Lorem
			Ipsum.</p>




		<p class="catSection">
			Location : <a
				href='http://demo.themespike.com/realestate/?tax-listings=sample-listing-category'>Sample
				Listing Category</a>
		</p>

		<p class="postMetaInfo">
			This entry was posted on Tuesday, January 10th, 2012 at 10:38 am. You
			can follow any responses to this entry through the <a
				href='http://demo.themespike.com/realestate/?feed=rss2&#038;p=694'>RSS
				2.0</a> feed. You can <a href="#respond">leave a response</a>, or <a
				href="http://demo.themespike.com/realestate/wp-trackback.php?p=694"
				rel="trackback">trackback</a> from your own site.
		</p>

		<h3 id="h6" class="postSubTitle comment-reply-title">Property
			Amenities</h3>

		<h3 id="h7" class="postSubTitle comment-reply-title">Neighbourhood
			Amenities</h3>
		<div class="clear"></div>

	</div>
</div>
