<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>
Sample Listing 1 | Real Estate</title>
</head>

<body class="single single-ts-listings postid-694">
	<!-- begin: insideContentWrapper -->
	<div id="insideContentWrapper" ng-controller="projectDetailCtrl">
		
		

<!-- Begin: leftSidebar -->
<div id="leftSidebar">

    <!--Begin: google maps-->
        <div class="gmap" id="gmap" style="width:250px;height:300px;margin-top:47px" googlemap></div>
    <!--End: google maps-->
    

    <div id="respond1" class="comment-respond" style="width:100%" ng-show="displayContactForm">
				<h3 id="H3" class="comment-reply-title">Contact Owner<small><a rel="nofollow" id="A1" href="/realestate/?ts-listings=sample-listing-1#respond" style="display:none;">Cancel reply</a></small></h3>			
<form name="frmContactUs" id="frmContactUs">
<ul>							
	<li class="comment-form-author"><label for="author">Name</label><small class="required">Required</small><input id="Text1" type="text" ng-model="contactUs.name" size="22" required /></li>
	<li class="comment-form-email"><label for="email">Email</label><small class="required">Required</small><input id="Text2" type="email" ng-model="contactUs.email" size="22" ng-required ng-pattern="'[-0-9a-zA-Z.+_]+@[-0-9a-zA-Z.+_]+\.[a-zA-Z]{2,4}'"/><small class="required" ng-show="true">Invalid email</small></li>
	<li class="comment-form-url"><label for="url">Phone</label><small class="required">Required</small><input id="Text3" type="text" ng-model="contactUs.phone" size="22" required /></li>
	<li class="text-area-wrapper"><textarea id="Textarea1" name="comment" cols="200" rows="10" style="width:100%" ng-model="contactUs.message"></textarea></li>						
</ul>						
<p class="form-submit">
	<input name="button" type="button" value="Send" ng-click="sendMail()" ng-disabled="frmContactUs.$invalid"/>
	<input type='hidden' name='comment_post_ID' ng-model="contactUs.propertyName" id='Hidden1' />
</p>
</form>
</div><!-- #respond -->
<div ng-show="displaySendMailConf">
<br />
	<p>Thank you for contacting griha, we have send you a copy of the broucher for your reference. Our marketing team will talk to
	 you soon. <a href="" ng-click="displayContactForm = true; displaySendMailConf = false">Click here</a> to send any additional message.</p>
</div>
</div>
<!-- End: leftSidebar -->
		
		<!-- begin: insideRightContent -->
		<div id="insideRightContent">
		
						
				<div id="post-694" class="post-694 ts-listings type-ts-listings status-publish hentry entryWrapper">
			
					<ul class="simple-breadcrumbs clearfix breadcrumb"><li class="br-youare breadcrumbFirst"><span>You are here : </span></li><li class="br-home"><a href="http://demo.themespike.com/realestate">Home</a> </li><li><a href="http://demo.themespike.com/realestate/?post_type=ts-listings">Listings</a></li><li class="br-current">Sample Listing 1</li><li class="breadcrumbLast"></li></ul>				
					
                    <br />
                    <div class="demo-slider-3" style="margin-bottom:3em;">
                    <div id="amazingslider-19" style="display:block;position:relative;margin:-12px auto 30px auto;float:left" amazingslider>
                        <ul class="amazingslider-slides" style="display:none;">
                            <li><a href="http://amazingslider.com/wp-content/uploads/2012/12/dandelion.jpg" class="html5lightbox"><img src="http://amazingslider.com/wp-content/uploads/amazingslider/19/images/dandelion-600-300.jpg" alt="Dandelion" data-description="Blessings on thy sunny face, in my heart thou hast a place" /></a>            </li>
                            <li><a href="http://www.youtube.com/embed/TLkA0RELQ1g" class="html5lightbox" data-width="640" data-height="360"><img src="http://amazingslider.com/wp-content/uploads/amazingslider/19/images/elephants-dream-600-300.jpg" alt="Elephants Dream" /></a>            </li>
                            <li><a href="http://www.youtube.com/embed/YE7VzlLtp-4" class="html5lightbox" data-width="640" data-height="360"><img src="http://amazingslider.com/wp-content/uploads/amazingslider/19/images/big-buck-bunny-600-300.jpg" alt="Big Buck Bunny" /></a>            </li>
                            <li><a href="http://amazingslider.com/wp-content/uploads/2012/12/sakuratrees.jpg" class="html5lightbox"><img src="http://amazingslider.com/wp-content/uploads/amazingslider/19/images/sakura-trees-600-300.jpg" alt="Sakura Trees" data-description="A Sweet Aroma Around the Trees" /></a>            </li>
                            <li><a href="http://amazingslider.com/wp-content/uploads/2012/12/bamboo.jpg" class="html5lightbox"><img src="http://amazingslider.com/wp-content/uploads/amazingslider/19/images/bamboo-600-300.jpg" alt="Bamboo" data-description="My Love is Like Bamboo, Growing Each Day" /></a>            </li>
                        </ul>
                        <ul class="amazingslider-thumbnails" style="display:none;">
                            <li><img src="http://amazingslider.com/wp-content/uploads/amazingslider/19/images/thumbnails/dandelion-600-300.jpg" /></li>
                            <li><img src="http://amazingslider.com/wp-content/uploads/amazingslider/19/images/thumbnails/elephants-dream-600-300.jpg" /></li>
                            <li><img src="http://amazingslider.com/wp-content/uploads/amazingslider/19/images/thumbnails/big-buck-bunny-600-300.jpg" /></li>
                            <li><img src="http://amazingslider.com/wp-content/uploads/amazingslider/19/images/thumbnails/sakura-trees-600-300.jpg" /></li>
                            <li><img src="http://amazingslider.com/wp-content/uploads/amazingslider/19/images/thumbnails/bamboo-600-300.jpg" /></li>
                        </ul>
                        <div class="amazingslider-engine" style="display:none;"><a href="http://amazingslider.com">jQuery Image Slider</a></div>
                        <div class="amazingslider-engine" style="display:none;"><a href="http://amazingslider.com">WordPress Slideshow</a></div>
                    </div>
                    <!--<script src="http://amazingslider.com/wp-content/uploads/amazingslider/19/sliderengine/initslider.js"></script>-->
                </div>
				</div>
<!-- begin: Tabs -->
			<!-- <div id="homeTabs">
				
				<ul class="tabs-nav">
					<li style="margin-top:25px;"><a><span ng-click="showTab('tab1')">Project Description</span></a></li>
					<li style="margin-top:25px;"><a><span ng-click="showTab('tab2')">Specification</span></a></li>
					<li style="margin-top:25px;"><a><span ng-click="showTab('tab3')">Neighbourhood</span></a></li>
					<div class="clear"></div>
				</ul>
			</div> -->
			
<div style="margin-top: 300px">
	<tabset>
		<tab heading="Project Description">
      		<div ng-include="'Partials/ProjectDescriptionTab.html'"></div>
      		<h3 id="h2" class="postSubTitle">Neighbourhood</h3>
		 <!--Begin: google maps-->
        <div class="gmap" id="Div1" style="width:650px;height:400px" googlemap></div>
    <!--End: google maps-->
    	</tab>
    	<tab heading="Specification">
      		<div ng-include="'Partials/Specification.html'"></div>
    	</tab>
    	<tab heading="Work in Progress">
    		<div ng-include=""></div>
    	</tab>
	</tabset>			
</div>
 <!-- end : Tabs-->  				
				
		</div>
		<!-- end: insideRightContent -->
		
		
		<div class="clear"></div>
		
	</div>
	<!-- end: insideContentWrapper -->

<!-- end: Tabs -->
		<div class="clear"></div>
		
	<div id="footerWrapper">
	
		<!-- Begin: footerBg -->
		<div id="footerBg">
			<!-- Begin: footerContent -->
			<div id="footerContent">
			
				<p id="copyRight"> Copyright &copy; 2013 Real Estate <br />
				
								
					<span id="client_section"><a href="http://themeforest.net/item/real-estate-theme/59729" target="_blank">Real Estate</a> by <a href="http://www.themespike.com" target="_blank">Themespike</a>, Customized by <a href="http://www.themespike.com" target="_blank">Themespike</a></span>
				
								
				<h2 id="footerLogo" class="png_fix"><a href="http://demo.themespike.com/realestate/"><span>Real Estate</span></a></h2>
				
				<ul id="footerNav" class=""><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-696"><a href="http://demo.themespike.com/realestate/">Home</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-702"><a href="http://demo.themespike.com/realestate/?page_id=691">One Column</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-700"><a href="http://demo.themespike.com/realestate/?page_id=155">Page with comments</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-701"><a href="http://demo.themespike.com/realestate/?page_id=83">Contact Us</a></li>
</ul>			
			</div>
			<!-- End: footerBg -->
	    </div>
		<!-- End: footerBg -->
	
	</div>
	
		
		
</body>

</html>
